<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<% if account_signed_in? %>
    <p><%= link_to 'Add address', new_account_address_path(current_account) %></p>
<% end %>
