<div id="<%= dom_id prayer_request %>">
  <p>
    <strong>Title:</strong>
    <%= prayer_request.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prayer_request.description %>
  </p>

</div>
