<% unless last_message.nil? %>
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-between">
      <small>
        <em class="last-message"><%= "#{last_message.account.username} sent a message".truncate(40) %></em>
        <em class="last-message"><%= "#{time_ago_in_words(last_message.created_at)} ago"%></em>
      </small>
    </div>
  </div>
<% end %>